.square {
  width: 300px;
  margin: 0 auto;
  color: #fff;
  background-color: #242424;
  padding: 24px;
  text-align: center;
  border: 2px solid red;
}

.message {
  font-size: 32px;
  text-align: center;
  animation: fade-out ease-out 3s forwards;
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
